.navber {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navber img {
  display: inline-block;
  margin-left: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #555;
}

.menu-icon {
  width: 28px;
  margin-left: 20px !important;
  display: none !important;
}


@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: #fff;
  }

  .menu-icon {
    display: block !important;
    cursor: pointer;
  }
}

